img {
  border-radius: 50%;
  height: 45px;
  margin-top: -20px;
  border: 2px solid black;
}
p {
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 25px;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-wrap: break-word;
  max-width: 80%;
}
.msg {
  display: flex;
  padding: 20px 10px 0 20px;
  margin: 20px;
  border-radius: 3000px;
  align-items: center;
  box-shadow: 0 0 10px rgb(164, 164, 164);
}
.msgs {
  margin: 110px 0;
  display: flex;
  flex-direction: column;
}
.recived {
  border: 1px solid lightgray;
  background-color: #fafafa;
  border-top-left-radius: 1000px;
  float: left;
}
.sendMsg {
  position: fixed;
  display: flex;
  width: 100%;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid lightgray;
  margin-left: -5px;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #fafafa;
}
.sent {
  background-color: #395dff;
  color: #fff;
  border-top-right-radius: 1000px;
  flex-direction: row-reverse;
  padding: 20px 20px 0 10px;
  text-align: end;
  float: right;
}
.btn {
  background-color: #395dff;
  padding: 15px 32px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 30%;
  text-align: center;
}
.sign-in-btn {
  background-color: #395dff;
  padding: 15px 32px;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 45%;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 30%;
  text-align: center;
}
.sign-out-btn {
  background-color: #395dff;
  padding: 15px 32px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  border-radius: 30%;
  text-align: center;
}
input {
  font-family: inherit;
  border: 2px solid;
  font-size: 1.3rem;
  padding: 7px 0;
  margin: 20px;
}
